<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612888390087-junoccmq3c1bouchestgc7f9am5r4p0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612888390087-junoccmq3c1bouchestgc7f9am5r4p0f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>612888390087-fsj73u3lu59eu3oajo7anmrv619ncflj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7TCv4OT7JaheVih8mX78ESYzQAMsbvac</string>
	<key>GCM_SENDER_ID</key>
	<string>612888390087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unboxit.etracker</string>
	<key>PROJECT_ID</key>
	<string>transport-tracke-1562456245932</string>
	<key>STORAGE_BUCKET</key>
	<string>transport-tracke-1562456245932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612888390087:ios:d921d7ba21b924d1</string>
	<key>DATABASE_URL</key>
	<string>https://transport-tracke-1562456245932.firebaseio.com</string>
</dict>
</plist>